body {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.swiper {
  max-width: 100%;
  height: auto;
}

.swiper-slide,
img {
  max-width: 100%;
  height: auto;
}

.swiper-slide .info-404 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  word-break: break-all;
  background: #e2e1e4;
  white-space: pre-line;
}

.user-info {
  position: fixed;
  top: 0;
  background-image: linear-gradient(#c6dfc8, #e2e1e4);
  width: 100%;
  left: 0;
  padding: 1rem 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #363433;
}

.user-info .members {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.user-info .members>span {
  height: 2.56rem;
  display: inline-flex;
  align-items: flex-end;
}

.user-info .members .current {
  font-size: 1.8rem;
  font-weight: bold;
  color: #373834;
}

.user-info .user-counts {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

.user-info .options {
  margin-top: 0.5rem;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.user-info .options button {
  padding: 0.3rem 0.6rem;
}

.edit-family {
  font-size: 1rem;
  width: 100vw;
  height: 100vh;

}

.edit-family .edit-family-form {
  padding: 0.5rem;
}

.edit-family .edit-family-form>div {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.edit-family .edit-family-form .line2 {
  margin-top: 0.5rem;
  justify-content: space-between;
}

.edit-family .user-name {
  width: 10rem;
}

.edit-family .user-id {
  flex: 1;
}


.edit-family .user-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}