name = ""
account_id = ""
type = "javascript"

[build.upload]
format = "modules"
dir = "./cloudflare-worker"
main = "./naat-result.mjs"

[build]
command = "mkdir cloudflare-worker/crypto-js; cp node_modules/crypto-js/crypto-js.js node_modules/crypto-js/package.json cloudflare-worker/crypto-js"